<div class="product-inner">
  <div class="product-image">
    <a href="{{ product.url }}">
      {%- if variant_tmp.compare_at_price > variant_tmp.price -%}
        <div class="labels">
          {% if settings.collection_show_discount != blank or settings.collection_show_sale != blank %}
            <div class="onsale">
              {%- if settings.collection_show_discount != blank -%}
                {%- if settings.collection_sale_label_text != '' -%}
                  <span class="sale-label">
                    {%- if settings.language_enable -%}
                      <span class="lang1">{{ settings.collection_sale_label_text | split: '|' | first }}</span>
                      <span class="lang2">{{ settings.collection_sale_label_text | split: '|' | last }}</span>
                    {%- else -%}
                      {{ settings.collection_sale_label_text | split: '|' | first }}
                    {%- endif -%}
                  </span>
                {%- endif -%}
                -{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%
              {%- else -%}
                {%- if settings.collection_show_sale != blank -%}
                  <span class="sale-label">
                    {%- if settings.language_enable -%}
                      <span class="lang1">{{ settings.collection_sale_label_text | split: '|' | first }}</span>
                      <span class="lang2">{{ settings.collection_sale_label_text | split: '|' | last }}</span>
                    {%- else -%}
                      {{ settings.collection_sale_label_text | split: '|' | first }}
                    {%- endif -%}
                  </span>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="inner {% if product.images[1] and settings.collection_alternative_image != blank %}img-effect{% endif %}">
        <img data-src="{{ product.featured_image.src | img_url: image_size, crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive main lazyload" style="padding-top: {{pt}};">
        
        {% for image in product.images %}
          {% if image.alt contains 'hoverImage' %}
            {% assign hoverImage = image %}
          {% endif %}
        {% endfor %}

        {% if hoverImage != blank %}
          {% if settings.collection_alternative_image != blank %}
            <img data-src="{{ hoverImage.src | img_url: image_size, crop: 'center' }}" alt="{{ hoverImage.alt | escape }}" class="hover-image img-responsive lazyload" style="padding-top: {{pt}};">
          {% endif %}
        {% else %}
          {% if product.images[1] and settings.collection_alternative_image != blank %}
            <img data-src="{{ product.images[1].src | img_url: image_size, crop: 'center' }}" alt="{{ product.images[1].alt | escape }}" class="hover-image img-responsive lazyload" style="padding-top: {{pt}};">
          {% endif %}
        {% endif %}
      </div>
      {% if product.description contains '[countdown]' %}
        <div class="sale-product-daily-deal">
          <div class="porto_countdown   porto-cd-s1">
            {% assign count_down_first = product.description | split:'[/countdown]' | first %}
            {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
            <div class="bottom-product-dailydeal bottom-home-dailydeal">
              <div class="product-date" data-date="{{ count_down_final }}"></div>
            </div>
          </div>
        </div>
      {% endif %}
    </a>
    <div class="loader-container" style="display: none;">
      <div class="loader">
        <i class="porto-ajax-loader"></i>
      </div>
    </div>
    <div class="links-on-image">
      {%- include 'pt-add-link-wrap' -%}
    </div>
  </div>
  <div class="product-content">
    {%- if settings.collection_show_addtolinks and pt_layout == 'outimage_aq_onimage' or pt_layout == 'outimage_aq_onimage2' -%}
      <div class="yith-wcwl-add-to-wishlist">
        <div class="yith-wcwl-add-button show">
          <div class="product-wishlist wishlist-{{product.id}}">
            <a href="javascript:;" data-product-handle="{{product.handle}}" data-product-title="{{product.title}}" class="add_to_wishlist link-wishlist" title="{{'wish_list.general.add_to_wishlist' | t}}">
              <i class="icon-wishlist"></i>
              <span {% if settings.language_enable %}data-translate="wish_list.general.add_to_wishlist"{% endif %}>{{ 'wish_list.general.add_to_wishlist' | t }}</span>
            </a>
          </div>
        </div>
      </div>
    {%- endif -%}
    <div class="clear"></div>
    {%- if settings.collection_product_category != blank -%}
      <span class="category-list">
        {%- for collection in product.collections limit:2 -%}
          {{ collection.title | link_to: collection.url }}{%- if forloop.last == false -%},&nbsp;{%- endif -%}
        {%- endfor -%}
      </span>
    {%- endif -%}
    <a class="product-loop-title" href="{{ product.url | within: collection }}">
      <h3 class="shopify-loop-product__title">
        {% if settings.language_enable %}
          <span class="lang1">{{ product.title | split: '|' | first }}</span>
          <span class="lang2">{{ product.title | split: '|' | last }}</span>
        {% else %}
          {{ product.title | split: '|' | first }}
        {% endif %}
      </h3>
    </a>
    {% if settings.collection_rating_star != blank %}
      <div class="rating-wrap">
        <div class="rating-content">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
      </div>
    {% endif %}
    <div class="description">
      {%- assign description = product.description -%}
      {%- if product.description contains '[shortdesc]' -%}
        {%- assign last = description | split:'[shortdesc]' | last -%}
        {%- assign description = last | split:'[/shortdesc]' | first -%}
      {%- else -%}
        {%- if product.description contains '[countdown]' -%}
          {%- assign description = description | split:'[/countdown]' | last -%}
        {%- endif -%}
        {%- if product.description contains '[shortdesc]' -%}
          {%- assign description = description | split:'[/shortdesc]' | last -%}
        {%- endif -%}
        {%- if product.description contains '[additional]' -%}
          {%- assign description = description | split:'[/additional]' | last -%}
        {%- endif -%}
      {%- endif -%}
      {%- assign description = description | strip_html | truncatewords: 30 -%}
      {% if settings.language_enable %}
        <div class="lang1">{{ description | split: '[lang2]' | first }}</div>
        <div class="lang2">{{ description | split: '[lang2]' | last }}</div>
      {% else %}
        {{ description | split: '[lang2]' | first }}
      {% endif %}
    </div>
    {%- if settings.collection_product_price != blank -%}
      <span class="price">
        {%- if on_sale -%}
          <del>
            <span class="shopify-Price-amount amount">
              <span class="money">{{ product.compare_at_price | money }}</span>
            </span>
          </del>
          <ins>
            <span class="shopify-Price-amount amount">
              <span class="money">{{ product.price | money }}</span>
            </span>
          </ins>
        {%- else -%}
          <span class="shopify-Price-amount amount">
            <span class="money">{{ product.price | money }}</span>
          </span>
        {%- endif -%}
      </span>
    {%- endif -%}
    {%- if product.options.size > 1 -%}
      {%- if settings.collection_grid_swatch_type == '1' or settings.collection_grid_swatch_type == '2' -%}
        <div class="variations">
          <ul class="filter-item-list">
            {% for option in product.options %}
              {% if option == 'Color' %}
                {% assign index = forloop.index0 %}
                {% assign colorlist = '' %}
                {% assign color = '' %}
                {% for variant in product.variants %}
                  {% capture color %}
                    {{ variant.options[index] }}
                  {% endcapture %}
                  {% unless colorlist contains color %}
                    <li>
                      {% if settings.collection_grid_swatch_type == '2' and variant.image.src != blank %}
                        <a class="filter-item filter-image" href="javascript:void(0);" data-image="{{ variant.image.src | img_url: image_size, crop: 'center' }}" style="background-image: url({{ variant.image.src | img_url: '50x50' }})">
                          <i class="image-swatch" style="background-image: url({{ variant.image.src | img_url: '50x50' }})"></i>
                        </a>
                      {% else %}
                        {% if variant.image.src != blank %}
                          <a class="filter-color" href="javascript:void(0);" data-image="{{ variant.image.src | img_url: image_size, crop: 'center' }}" style="background-image: url({{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }})">
                            <i class="color-swatch" style="background-image: url({{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }})"></i>
                          </a>
                        {% else %}
                          <i class="filter-color" style="background-image: url({{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }})"></i>
                        {% endif %}
                      {% endif %}
                    </li>
                    {% capture tempList %}
                      {{colorlist | append: color | append: ' '}}
                    {% endcapture %}
                    {% assign colorlist = tempList %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {%- endif -%}
    {%- endif -%}
    {%- if pt_layout == 'onimage' or pt_layout == 'quantity' -%}
      {%- include 'pt-add-link-wrap' -%}
    {%- endif -%}
  </div>
</div>