<div style="padding-bottom:100px" class="featured-products" id="featuredproductswrapper">
  <h1 style="font-weight: 600;margin: 50px auto 20px; color: black" class="text-center">{{section.settings.section_title}}</h1>
  <div class="featuredproductsgrid">
    {% for block in section.blocks %}
      <div class="featured-product">
        <center style="">
          <img src="{{block.settings.product_img | img_url: 'master'}}" style="width:270px">
        </center>
        <div class="featured-product--container" style="padding: 7%">
          <span class="3boxfeatured" style="text-align:center;margin:0 auto;display:block;width:100%;font-size:24px;font-weight:500">{{block.settings.product_title}}</span>
          <span style="text-align:center;margin:0 auto;display:block;width:80%">{{block.settings.product_desc}}</span>
          <a href="{{block.settings.product_url}}"><div class="3productbutton" style="width:200px;border-radius:10px;border:2px black solid;text-align:center;margin:0 auto;font-size:26px;padding:10px">Shop Now</div></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Featured Products"
    }
  ],
  "blocks": [
    {
      "type": "featured_product",
      "name": "Featured Product",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_img",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        },
        {
          "type": "textarea",
          "id": "product_desc",
          "label": "Product Desc"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "Product Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "category": "Homepage"
    }
  ]
}
{% endschema %}
